//Use the params to define reference files, directories, and CLI options
params {

    // Reads and references
    reads = "/$projectDir/samples/subsampled_files/*R{1,2}.subset.fastq.gz"
    genome = "$projectDir/refs/GRCh38.primary_assembly.genome.fa"
    gtf = "$projectDir/refs/gencode.v45.primary_assembly.annotation.gtf"

    // Directories
    outdir = "$projectDir/results/"
    refdir = "$projectDir/refs/"

    // Custom parameters

}

profiles {
    conda {
        conda.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    cluster {
        process {
                executor = 'sge'
                clusterOptions = '-P bf528'
                penv = 'omp'

                withLabel: process_single {
                    cpus = 1
                }

                withLabel: process_low {
                    cpus = 4
                }

                withLabel: process_meduium {
                    cpus = 8
                }
                
                withLabel: process_high {
                    cpus = 16
                    clusterOptions = "-P bf528 -l mem_per_core=8G"
                }

        }
    }

    local {
        process.executor = 'local'
    }
}

//Change the queueSize to enable more parallel jobs (remember the SCC is a shared resource)
executor {
    $sge {
        queueSize = 12
    }
    $local {
        cpus = 1
    }
}

//Miscellaneous CLI flags
