//Use the params to define reference files, directories, and CLI options
params {

    // Reads and references


    // Directories
    outdir = "$projectDir/results/"
    refdir = "$projectDir/refs/"

    // Custom parameters

}

profiles {
    conda {
        conda.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    cluster {
        process {
                executor = 'sge'
                clusterOptions = '-P bf528'
                penv = 'omp'

                withLabel: process_single {
                    cpus = 1
                }

                withLabel: process_low {
                    cpus = 4

                }

        }
    }

    local {
        process.executor = 'local'
    }
}

//Change the queueSize to enable more parallel jobs (remember the SCC is a shared resource)
executor {
    $sge {
        queueSize = 12
    }
    $local {
        cpus = 1
    }
}

//Miscellaneous CLI flags
